<%- include('partials/headerAuth') %>

<div class="jumbotron centered">
  <div class="container">
    <img class="blog" src="images/blog.png"> <br> <br>
    <i class="fas fa-key fa-3x"></i>
    <h1 class="display-3">Blogger's Stop</h1>
    <p class="lead">A one-stop destination for all bloggers!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footerAuth') %>
