.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer {
	background-color: #1abc9c;
  text-align: center;
  position:relative;
  bottom:0;
  padding-top: 1px;
  width:100%;
  height:60px;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a.title:hover{
  text-decoration: none;
  color: red;
}

a.title{
  color: grey;
}

a.readMore:hover{
  text-decoration: none;
  color: red;
}

#compose{
  border: 2px grey solid;
  border-radius: 50%;
}

#compose a{
  font-weight: bold;
  color: red;
  font-size: 20px;
  font-family: 'Caveat', cursive;
}

.compose{
  font-weight: bold;
  color: #1abc9c;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.content{
  font-family: 'Satisfy', cursive;
  font-size: 15px;
}

.content2{
  font-family: 'Satisfy', cursive;
  font-size: 19px;
}

.suggestion:hover{
  color: red;
  text-decoration: none;
}
